@section Styles{
    <link href="~/lib/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <style>
        thead {
            background-color: goldenrod;
            color: white;
        }
        .vertical-align-middle {
            vertical-align: middle;
        }
    </style>
}


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped table-hover" id="boardtable">
    <thead>
        <tr>
            <td>Cover</td>
            <td>BoardName</td>
            <td>GameName</td>
            <td>BoardAboud</td>
        </tr>
    </thead>
</table>

<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script>
        const baseAddress = 'https://localhost:44398';
        //function getBoards() {
        //    $.ajax({
        //        type: 'Get',
        //        url: `${baseAddress}/api/BoardsApi`
        //    })
        //        .done(data => {
        //            console.log('wow')
        //            console.log(data);
        //            alert(JSON.stringify(data));
        //        })
        //        .fail(err => {
        //            console.log('no...')
        //            alert(err.statustext);
        //        });
        //}
        $(document).ready(function () {
            $('#boardtable').DataTable
                ({
                    "theme": "bootstrap" ,
                    ajax: {
                        type: 'GET',
                        url: `${baseAddress}/api/BoardsApi`,
                        dataSrc: function (data) { return data; }
                    },
                    columns: [
                        {
                            "data": "Cover", "width": "40%",
                            "render": function (data, type, row)
                            {
                                return '<img src="' + data + '" alt="Image" style="width: 100%;">';
                            }
                        },
                        { "data": "BoardName", "width": "20%", "className": "text-center vertical-align-middle fw-bold" },
                        { "data": "GameName", "width": "20%", "className": "vertical-align-middle"  },
                        { "data": "BoardAboud", "width": "20%", "className": "vertical-align-middle" },
                    ],
                    "rowCallback": function (row, data) {
                        $(row).on("click", function () {
                            // 彈出 Bootstrap 模態框
                            $('#myModal').modal('show');

                            // 在模態框中填充相應的資料
                            $('#myModal .modal-body').html('資料內容');
                        });
                    }
                })
        })


    </script>
}

