
@model IEnumerable<TataGamedom.Models.ViewModels.Games.GameIndexVM>

@{
    ViewBag.Title = "Index";
}

@section Styles{

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css" rel="stylesheet">
    <style>
        thead {
            background-color: goldenrod;
            color: white;
        }

        .vertical-align-middle {
            vertical-align: middle;
        }
    </style>
}

<h2>遊戲管理列表</h2>


<div class="text-center">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    編號
                </th>
                <th>
                    名稱
                </th>
                <th>
                    分類
                </th>
                <th>
                    年齡限制
                </th>
                <th>
                    創建人員
                </th>
                <th>
                    創建時間
                </th>
                <th>編輯</th>
                <th>編輯封面</th>
                <th>評論管理</th>
                <th>新增商品</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    薩爾達
                </td>
                <td>
                    動作冒險遊戲 , 策略遊戲
                </td>
                <td>
                    <input checked="checked" class="check-box" disabled="disabled" type="checkbox" />
                </td>
                <td>
                    全功能TATA
                </td>
                <td>
                    2023-06-24
                </td>
                <td>
                    <a href="/Games/Edit/1" class="icon-link">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
                <td>
                    <a href="/Games/EditGameCover/1" class="icon-link">
                        <i class="fa-regular fa-image"></i>
                    </a>
                </td>
                <td>
                    <a href="/GameComments/Index/1" class="icon-link">
                        <i class="fa-regular fa-comments"></i>
                    </a>
                </td>
                <td>
                    <a href="/Games/AddProduct/1" class="icon-link">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    精靈寶可夢
                </td>
                <td>
                    動作冒險遊戲 , 射擊遊戲
                </td>
                <td>
                    <input checked="checked" class="check-box" disabled="disabled" type="checkbox" />
                </td>
                <td>
                    商城TATA
                </td>
                <td>
                    2023-06-23
                </td>
                <td>
                    <a href="/Games/Edit/2" class="icon-link">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
                <td>
                    <a href="/Games/EditGameCover/2" class="icon-link">
                        <i class="fa-regular fa-image"></i>
                    </a>
                </td>
                <td>
                    <a href="/GameComments/Index/2" class="icon-link">
                        <i class="fa-regular fa-comments"></i>
                    </a>
                </td>
                <td>
                    <a href="/Games/AddProduct/2" class="icon-link">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                </td>
            </tr>
        </tbody>

    </table>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                responsive: true
            });
        });
    </script>
}
